[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Curso-2025/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-Curso-2025/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservices-Curso-2025/orders-microservice.git
